<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

    <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
        <h3>dish Detail</h3>
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h3>{{dish.name | uppercase}}</h3>
            </mat-card-title>   
          </mat-card-header>
          <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}> 
          <mat-card-content>
            <p>{{dish.description}}</p>    
          </mat-card-content>
          <mat-card-actions>
            <button mat-button [routerLink]="['/dishdetail', prev]">
              <span class="fa fa-chevron-left fa-lg"></span>
            </button>
            <button mat-button (click)="goBack()">BACK</button>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
            <span class="flex-spacer"></span>
            <button mat-button [routerLink]="['/dishdetail', next]">
              <span class="fa fa-chevron-right fa-lg"></span>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div [hidden]="dish">
        <mat-spinner></mat-spinner>
        <h4>Loading . . . Please wait</h4>
      </div>

  <div fxFlex="40" fxLayout="column" *ngIf="dish" [@visibility]="visibility" [@expand]>
      <h3>Comments</h3>
      <mat-list>
        <mat-list-item *ngFor="let comment of dish.comments">
          <p matLine>{{comment.comment}}</p>
          <span style="font-size: smaller" matLine>{{comment.rating}} Stars</span>
          <span style="font-size: smaller" matLine>-- {{comment.author}} {{comment.date | date}}</span>
        </mat-list-item>
        <mat-list-item *ngIf="commentForm.valid">
          <p matLine>{{commentForm.value.comment | json}}</p>
          <span style="font-size: smaller" matLine>{{commentForm.value.rating | json}} Stars</span>
          <span style="font-size: smaller" matLine>-- {{commentForm.value.author | json}}</span>
        </mat-list-item>
      </mat-list>

      <h3>Leave your Comment</h3>

    <form novalidate [formGroup]="commentForm" (submit)="onSubmit()">
      <p>
        <mat-form-field>
          <input matInput formControlName="author" placeholder="Name" type="text" required>
          <mat-hint>
            <span [hidden]="!formErrors.author">
                {{formErrors.author}}
            </span>
          </mat-hint>
        </mat-form-field>

      </p>

      <p>
        <span>Rating  </span>
        <mat-slider formControlName="rating" min="1" max="5" step="1" value="5" thumbLabel tickInterval="1">Rating</mat-slider>
      </p>

      <p>
        <mat-form-field>
          <textarea matInput formControlName="comment" placeholder="Your feedback" rows=5 required></textarea>
          <mat-hint>
              <span [hidden]="!formErrors.comment">
                  {{formErrors.comment}}
              </span>
            </mat-hint>
        </mat-form-field>
      </p>

      <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
    </form>

    <div [hidden]="dish || errMess">
      <mat-spinner></mat-spinner>
      <h4>Loading . . . Please wait</h4>
    </div>
    <div *ngIf="errMess">
      <h2>Error</h2>
      <h4>{{errMess}}</h4>
    </div>
    
    </div>



    
  

</div>
